/* This style sheet is used for styling simple page content used for News, Events, Copyright, Privacy and about us pages. */

#content h1{
	font-size: 26px;
	padding-top: 20px;
	padding-bottom: 25px;
	padding-left: 40px;
}
#content h2{
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 60px;
}
#content p {
	color: #2d2a32;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	font-size: 18px;
	padding-left:70px;
	padding-bottom: 5px;
	padding-right: 20px;
}
#content {
	padding-bottom: 40px;
	padding-right: 40px;
}