/* This CSS document is used for styling the grades page content. */

#content{
    padding: 20px;
}
#content h1{
    padding-bottom: 20px;
}
#content h2{
    font-size: 20px;
    padding-top: 15px;
}
#content p{
    font-weight:bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark_blue);
}
#content table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
}
#content th, td{
    border: 2px solid white;
}
.download{
    padding-bottom: 40px;
}
/* Odds and evens rows have different colors */
#content tr:nth-child(even){
    background-color: var(--light_light_purple);
}
#content tr:nth-child(odd){
    background-color: var(--light_purple);
}
#content th {
    padding-top:10px;
    padding-bottom: 10px;
    background-color: var(--dark_blue);
    color: var(--light_purple);

}
#content td{
    color: var(--dark_blue);
    padding: 10px;
}
.download{
    border-radius: var(--border_radius);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    background-color: var(--light_purple);
    color:var(--dark_blue);
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.download:hover{
    background-color: var(--light_light_purple);
    font-weight: bold;
}