/* This style sheet styles the content of the students page. */
#content a{
	padding-left: 20px;
	padding-top: 10px;
	display: block;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--dark_blue);
}
#content a:hover{
	text-decoration: underline;
	padding-left: 25px;
	font-weight: bold;
	color: var(--gray)
}

h2{
	padding-top: 10px;
	font-size: 20px;
	color: var(--dark_blue);
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 7px;
}

#content{
padding: 20px;
}
#content-title {
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
}